@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/image3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    
}
table{
    color:white;
    position: absolute;
    top: 68px;
    left: 57px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.headacheAdmin {
    color: white;
    background-color: rgba(255, 255, 255, 0.582);
    margin-top: 0px;
    padding: 20px 4px;
    height: 90px;
    border: 0px solid;
    border-bottom-left-radius: 13px 13px;
    border-bottom-right-radius: 13px 13px;
}


.headacheAdmin ul{
    position: absolute;
    top: 32px;
    left: -93px;
}
.headacheAdmin  a{
    text-decoration: none;
    color: #fff;
    font-family: Montserrat,sans-serif;
    font-weight: lighter;
    margin-right: 20px;
    padding: 2px 10px;
    border-radius: 48px;
    background-color: rgb(0,0,0,0.6);
    transition: 750ms;
    position: relative;
    left: 840px;
}

.headacheAdmin a:hover{
    background-color: rgb(0,0,0,0.94);  
    border-color: rgba(255, 0, 0, 0.59);
  

}




.box{
    border-radius: 7px;
    /* centerning the box ine the center of the page */
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* ----------------------- */
    color: white;
    /* Black w/opacity/see-through */
    background-color: rgba(0,0,0, 0.55); 
    font-family: Montserrat,sans-serif;
    padding: 10px 10px 100px 10px;
    text-align: center;
    width: 50%;
    height: 50%;
}
.box input[type="text"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 270px;
    outline: none;
    color: white;
    transition: 240ms;
    border-radius: 10px;
}
.box input[type="text"]:focus{
    width: 320px;
    border-color: rgb(50, 226, 108);
}
.box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 270px;
    outline: none;
    color: white;
    transition: 240ms;
    border-radius: 10px;
}
.box input[type="password"]:focus{
    width: 320px;
    border-color: rgb(50, 226, 108);
}


.box input[type="submit"]{
    border: 0;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 8px 3px;
    width: 100px;
    outline: none;
    color: white;
    transition: 240ms;
    border-radius: 20px;
    border-color: rgb(50, 226, 108);
    margin-right: 12px;
}

.box input[type="submit"]:hover{
    cursor: pointer;
    background: rgb(50, 226, 108);
}

.box input[type="reset"]{
    border: 0;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 8px 3px;
    width: 100px;
    outline: none;
    color: white;
    transition: 240ms;
    border-radius: 20px;
    border-color: rgb(253, 65, 65);
    margin-left: 12px;
}

.box input[type="reset"]:hover{
    cursor: pointer;
    background: rgb(253, 65, 65);
}

/* change placeholder color */
::placeholder submit{ 
        color:rgb(228, 94, 255,0.5);
        opacity: 0.9; 
}
h1{
    color: rgb(228, 94, 255);
}

#img{
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

h3{
    color: rgba(111, 233, 255, 0.781);
    border: 1px solid;
    border-color: rgba(76, 124, 255, 0.651);
    width: 100px;
    text-align: center;
    margin-top: 6%;
    padding: 4px 6px 4px 6px;
    border-radius: 10px;
    background-color: rgb(0,0,0,0.6);
    font-family: Montserrat,sans-serif;
    position: absolute;
    left: 20px;
    top: 2px;
    transition: 650ms;
}

h3 a{
    text-decoration: none;
    color: white;
}
h3:hover{
    background-color: rgba(0, 128, 128, 0.329);
}

.headache{
    color: white;
    background-color: rgba(255, 255, 255, 0.582);
    margin-top: 0px;
    padding: 20px 4px;
    height: 90px;
    border: 0px solid;
    border-bottom-left-radius: 13px 13px;
    border-bottom-right-radius: 13px 13px;
}



.headache ul{
    position: absolute;
    top: 32px;
    left: 40px;
}

.headache a{
    text-decoration: none;
    color: #fff;
    font-family: Montserrat,sans-serif;
    font-weight: lighter;
    margin-right: 20px;
    padding: 2px 10px;
    border-radius: 48px;
    background-color: rgb(0,0,0,0.6);
    transition: 750ms;
    position: relative;
    left: 840px;
}


.headache  a:hover{
    background-color: rgb(0,0,0,0.94);  
    border-color: rgba(255, 0, 0, 0.59);
  

}

#go{
    position: absolute;
    top: 10px;
    left: -8px;
}



