@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/img/image3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h3{
    color: rgba(111, 233, 255, 0.781);
    border: 1px solid;
    border-color: rgba(76, 124, 255, 0.651);
    width: 100px;
    text-align: center;
    margin-top: 6%;
    padding: 4px 6px 4px 6px;
    border-radius: 10px;
    background-color: rgb(0,0,0,0.6);
    font-family: Montserrat,sans-serif;
    position: absolute;
    left: 20px;
    top: 2px;
    transition: 650ms;
}

h3 a{
    text-decoration: none;
    color: white;
}
h3:hover{
    background-color: rgba(0, 128, 128, 0.329);
}

h1{
    color: rgba(111, 233, 255, 0.781);
    border: 1px solid;
    border-color: rgba(76, 124, 255, 0.651);
    width: 50%;
    position: relative;
    left: 25%;
    text-align: center;
    margin-top: 1%;
    padding: 10px 12px 10px 12px;
    border-radius: 10px;
    background-color: rgb(0,0,0,0.6);
    font-family: Montserrat,sans-serif;
}

.box{
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    border-color: rgba(85, 85, 255, 0.712);
    width: 60%;
    position: relative;
    left: 20%;
    margin-top: 4px ;
    background-color: rgb(0,0,0,0.6);
}

.box input[type="text"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 270px;
    height: 37px;
    outline: none;
    color: white;
    transition: 240ms;
    border-radius: 10px;
}
.box input[type="text"]:focus{
    width: 320px;
    border-color: rgb(50, 226, 108);
    background-color: rgba(112, 112, 255, 0.137);
}

::placeholder{
    color: rgb(207, 204, 204);
}

.box textarea{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 350px;
    outline: none;
    color: white;
    transition: 240ms;
    border-radius: 10px;
}
.box textarea:focus{
    width: 400px;
    border-color: rgba(226, 50, 50, 0.616);
    background-color: rgba(226, 50, 50, 0.137);
}


.box input[type="submit"]{
    border: 0;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 8px 3px;
    width: 100px;
    outline: none;
    color: white;
    transition: 240ms;
    border-radius: 20px;
    border-color: rgb(50, 226, 108);
    margin-right: 12px;
}

.box input[type="submit"]:hover{
    cursor: pointer;
    background: rgba(50, 226, 109, 0.4);
}

.box input[type="reset"]{
    border: 0;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 8px 3px;
    width: 100px;
    outline: none;
    color: white;
    transition: 240ms;
    border-radius: 20px;
    border-color: rgb(253, 65, 65);
    margin-left: 12px;
}

.box input[type="reset"]:hover{
    cursor: pointer;
    background: rgba(253, 65, 65, 0.4);
}
