
.headacheAdmin {
    color: white;
    background-color: rgba(255, 255, 255, 0.582);
    margin-top: 0px;
    padding: 20px 4px;
    height: 90px;
    border: 0px solid;
    border-bottom-left-radius: 13px 13px;
    border-bottom-right-radius: 13px 13px;
}


.headacheAdmin ul{
    position: absolute;
    top: 32px;
    left: -93px;
}
.headacheAdmin  a{
    text-decoration: none;
    color: #fff;
    font-family: Montserrat,sans-serif;
    font-weight: lighter;
    margin-right: 20px;
    padding: 2px 10px;
    border-radius: 48px;
    background-color: rgb(0,0,0,0.6);
    transition: 750ms;
    position: relative;
    left: 840px;
}

.headacheAdmin a:hover{
    background-color: rgb(0,0,0,0.94);  
    border-color: rgba(255, 0, 0, 0.59);
  

}





#imge{
    position: absolute;
    top: 12%;
    left: 70%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

.boxw{
    border-radius: 4px;
    /* centerning the box ine the center of the page */
    position: absolute;
    top: 54%;
    left: 24%;
    transform: translate(-50%, -50%);
    /* ----------------------- */
    color: white;
    /* Black w/opacity/see-through */
    background-color: rgba(0,0,0, 0.55); 
    font-family: Montserrat,sans-serif;
    padding: 10px 10px 100px 10px;
    text-align: center;
    width: 47%;
    height: 75%;
}
table{
    position: absolute;
    top: 88px;
    left: 22px;
    color: white;
    background-color: rgba(0,0,0, 0.55);
    font-family: Montserrat,sans-serif;
    width: 60px;
    height: 65%;
}
h1{
    position: relative;
    top: 16px;
    left: 0px;
    color: #8ecdf6;
    font-family: Montserrat,sans-serif;
}
.boxw h1{
    position: relative;
    top: 23px;
    left: -3px;
    color: #8ecdf6;
    font-family: Montserrat,sans-serif;
}


.hom a{
    text-decoration: none;
    color: #fff;
    font-family: Montserrat,sans-serif;
    font-weight: lighter;
    margin-right: 20px;
    padding: 2px 10px;
    border-radius: 48px;
    background-color: rgb(0,0,0,0.6);
    transition: 750ms;
    position: relative;
    top: 40px;
    left: 14px;
}


.boxMe{
    border-radius: 4px;
    position: absolute;
    top: 54%;
    left: 73%;
    transform: translate(-50%, -50%);
    /* ----------------------- */
    color: white;
    /* Black w/opacity/see-through */
    background-color: rgba(0,0,0, 0.55); 
    font-family: Montserrat,sans-serif;
    padding: 10px 10px 100px 10px;
    text-align: center;
    width: 44%;
    height: 65%;
}

.boxMe input[type="text"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 270px;
    outline: none;
    color: white;
    transition: 240ms;
    border-radius: 10px;
}
.boxMe input[type="text"]:focus{
    width: 320px;
    border-color: rgb(50, 226, 108);
}
.boxMe input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 270px;
    outline: none;
    color: white;
    transition: 240ms;
    border-radius: 10px;
}
.boxMe input[type="password"]:focus{
    width: 320px;
    border-color: rgb(50, 226, 108);
}


.boxMe input[type="submit"]{
    border: 0;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 8px 3px;
    width: 100px;
    outline: none;
    color: white;
    transition: 240ms;
    border-radius: 20px;
    border-color: rgb(50, 226, 108);
    margin-right: 12px;
}

.boxMe input[type="submit"]:hover{
    cursor: pointer;
    background: rgb(50, 226, 108);
}

.boxMe input[type="reset"]{
    border: 0;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 8px 3px;
    width: 100px;
    outline: none;
    color: white;
    transition: 240ms;
    border-radius: 20px;
    border-color: rgb(253, 65, 65);
    margin-left: 12px;
}

.boxMe input[type="reset"]:hover{
    cursor: pointer;
    background: rgb(253, 65, 65);
}